/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  dev
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version         2;
    format          ascii;
    class           volScalarField;
    location        "0";
    object          TO_BE_SET_BY_setICBC;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

INPUT_getCorrespondingMassFraction_fieldName __FIELD_NAME__;
#include "$FOAM_CASE/../../../src/common/getCorrespondingMassFraction" // [-] - Mass fraction of the specie FoamFile/object
#remove INPUT_getCorrespondingMassFraction_fieldName

dimensions      [ 0 0 0 0 0 0 0 ];

internalField   uniform $OUTPUT_getCorrespondingMassFraction;

boundaryField
{
    inlet
    {
        // type            totalFlowRateAdvectiveDiffusive;
        // phi             phi.gas;
        // rho             rho.gas;
        type    fixedValue;
        value   uniform $OUTPUT_getCorrespondingMassFraction;
    }
    outlet
    {
        type    zeroGradient;
    }
    wall
    {
        type    zeroGradient;
    }
}

// ************************************************************************* //
